* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: hsl(198, 16%, 15%);
    --main-text: hsl(58, 40%, 88%);

}

body {
    /* background-color: var(--bg-color); */
}

img {
    width: 100%;
    display: block;
    transition: all 1s;
    border-radius: 10px;
    border: 3px solid transparent;
}

main {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    gap: 1rem;
    max-width: 1200px;
}

.main-container>* {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

img:hover {
    transform: scale(1.05);
    opacity: 0.9;
    border-color: var(--bg-color);
}

@media (max-width:500px) {
    .main-container {
        flex-direction: column;
    }
}