:root {
  --bg-color: hsl(197, 14%, 10%);
  --main-text: hsl(58, 40%, 88%);
  --secondary-text: hsl(60, 2%, 74%);
  --secondary-color: rgb(213, 154, 15);
}

footer {
  background-color: hsl(195, 10%, 9%);
}

.footer-container {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 2.5rem;
  max-width: 1000px;
}

footer .nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}



footer .socials {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.socials .icons {
  display: flex;
  gap: 1.5rem;
}


footer .nav a {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  color: var(--main-text);
  text-decoration: none;
  position: relative;
  transition: transform 0.2s ease, border-color 0.2s ease;
}

/* underlining animation*/
footer .nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background: var(--secondary-color);
  transition: width 0.3s ease;
}

footer .nav a:hover {
  transform: scale(1.08);
}

footer .nav a:hover::after {
  width: 100%;
}


footer .socials a:nth-child(1):hover {
  color: plum;
}

footer .socials a:nth-child(2):hover {
  color: rgb(31, 164, 216);
}

footer .socials a:nth-child(3):hover {
  color: black;
}


.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer div div div:nth-child(1) {
  font-size: 1.3rem;
}

footer a {
  color: white;
}

footer {
  color: var(--main-text);
}

.copyright {
  color: var(--secondary-text);
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  text-align: center;
  margin: 0 3rem;
  border-top: 1px solid var(--secondary-text);
}

@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}