@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --bg-color: hsl(197, 14%, 10%);
  --main-text: hsl(58, 40%, 88%);
  --secondary-text: hsl(60, 2%, 74%);
  --secondary-color: rgb(213, 154, 15);
  --primary-color: #987f1a;
  --text-dark: #0f172a;
  --text-light: #94a3b8;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--bg-color);
  color: var(--main-text);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Hero */

.hero-text {
  text-align: center;
}

.slogan {
  font-style: italic;
  font-family: "Lobster Two", sans-serif;
  font-size: 4.5rem !important;
  margin-bottom: 1.7rem;
  padding: 0 4rem;
  color: var(--main-text);
}

.yellow-text {
  color: var(--secondary-color);
}

.description {
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem !important;
  padding: 0 7rem;
  font-weight: 100;
  color: hsl(60, 2%, 84%);
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.hero-image-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.hero-image {
  width: 70vw;
  animation: spin 20s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.book-table {
  background-color: var(--secondary-color);
  color: var(--bg-color);
  border: none;
  padding: 0.6rem;
  border-radius: 10px;
  font-size: 1.5rem;
  margin-top: 2rem;
  text-decoration: none;
  font-family: "Lobster Two", sans-serif;
  transition: all 0.4s;
}

.book-table:hover {
  background-color: rgb(223, 170, 46);
  color: var(--bg-color);
}

.explore-more {
  border: solid 1px var(--main-text);
  background-color: var(--bg-color);
  color: var(--main-text);
}

@media (min-width: 1024px) {
  .hero-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .hero-image-container {
    display: flex;
    flex: 1;
  }

  .hero-image {
    width: 35vw;
    object-fit: cover;
  }

  .hero-text {
    flex: 1;
    padding: 0;
  }
}

/* Story */

.story-container {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  text-align: center;
}

.welcome {
  font-family: "Lobster Two", sans-serif;
  color: var(--secondary-text);
  font-size: 4rem;
  margin-top: 3rem;
  font-style: italic;
}

.discover-text {
  color: var(--main-text);
  font-family: "Lobster Two", sans-serif;
  font-size: 2.5rem;
  padding: 0;
}

.discover-text {
  position: relative;
  display: inline-block;
}

.discover-text::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background: var(--secondary-text);
  transition: width 0.5s ease-in-out;
}

.discover-text:hover::after {
  width: 100%;
}

.story-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--secondary-text);
  font-size: 1.4rem;
  line-height: 1.3;
  max-width: 80vw;
}

.story-image-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}

.story-image {
  width: 40vw;
  max-width: 400px;
  border-radius: 1rem;
}

@media (min-width: 1024px) {
  .story-text {
    padding: 0 10rem;
  }
}

/* Special Dishes */

.special-dishes-container {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.special-dishes-title {
  font-family: "Lobster Two", sans-serif;
  font-style: italic;
  font-size: 4rem;
  color: var(--main-text);
}

.special-dishes-subtitle {
  font-family: "Lobster Two", sans-serif;
  font-size: 2.5rem;
  color: var(--secondary-text);
  margin-bottom: 2rem;
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.special-dishes-card {
  border: rgb(99, 98, 98) 1px solid;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem;
  transition: box-shadow 0.3s;
  border-radius: 5%;
  max-width: 400px;
}

.special-dishes-card-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.special-dishes-card-title {
  font-family: "Lobster Two", sans-serif;
  font-size: 2rem;
  text-align: left;
}

.special-dishes-card-description {
  font-size: 1.2rem;
  text-align: left;
}

.dish {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.special-dishes-card-image > img {
  width: 100%;
  transition: transform 0.3s ease-in;
}

.special-dishes-card-image {
  overflow: hidden;
  border-radius: 5%;
}

.special-dishes-card:hover {
  box-shadow: 0 0 10px rgb(75, 74, 74);
}

.special-dishes-card:hover img {
  transform: scale(1.1);
}

.discover-menu {
  text-decoration: none;
  color: var(--main-text);
  font-size: 1.2rem;
  background-color: hsl(196, 15%, 15%);
  padding: 1rem;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.discover-menu-container {
  margin-top: 2rem;
}

.discover-menu:hover {
  background-color: hsl(195, 13%, 12%);
}

@media (min-width: 768px) {
  .grid-container {
    align-items: center;
    justify-content: center;
  }

  .special-dishes-card {
    flex-direction: row;
    max-width: 900px;
  }

  .special-dishes-card-text {
    justify-content: space-between;
  }

  .special-dishes-card-text > :nth-child(2) {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
  }

  .special-dishes-card-image {
  }

  .special-dishes-card-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in;
  }
}

/* ANIMATION ON HOVER FOR TEXT */

.special-dishes-card-text {
  transition: transform 0.3s ease;
}

.special-dishes-card:hover .special-dishes-card-text {
  transform: translateY(-5px);
}

/* TESTIMONIAL */



.testimonial__container {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 3rem;
  padding: 1rem 0.5rem;
  text-align: center;
}

.testimonal-title {
  text-align: center;
  color: var(--main-text);
  font-size: 4rem;
  font-family: sans-serif;
}

.section__container h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.section__container h1 {
  position: relative;
  margin-bottom: 3rem;
  font-weight: 600;
  text-align: center;
  color: var(--main-text);
  font-family: "Lobster Two", sans-serif;
  font-size: 4rem;
}

.section__container h1::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 2px;
  width: 5rem;
  background-color: var(--primary-color);
}

.section__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media (max-width: 1000px) {
  .section__grid {
    grid-template-columns: 1fr;
  }

  .section__card {
    width: 60%;
    margin: 0 auto;
  }
}

.section__card {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  padding: 2rem 2rem 1rem;
  background-color: hsl(200, 16%, 15%);
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.section__card::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 40%;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: var(--primary-color);
  z-index: -1;
  transition: 0.5s;
}

.section__card span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  font-size: 3rem;
  color: white;
}

.section__card h4 {
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}

.section__card p {
  margin-bottom: 1rem;
  color: var(--text-light);
  transition: 0.3s;
}

.section__card img {
  max-width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 100%;
  margin-top: 4px;
  padding: 3px;
  border: 2px solid var(--primary-color);
  transition: 0.3s;
}

.section__card h5 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
  margin: 2rem;
}

.section__card:hover::before {
  width: 400%;
}

.section__card:hover :is(h4, h5) {
  color: white;
}

.section__card:hover :is(p) {
  color: white;
}

.section__card:hover img {
  border-color: white;
}

.story-container,
.story-image-container {
  animation-name: smooth-view;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.2, 0.7, 0.3, 1.4);
  animation-fill-mode: both;
  animation-timeline: view();
}

@keyframes smooth-view {
  from {
    opacity: 0;
    transform: translateY(180px) scale(0.9);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
