:root {
  --bg-color: hsl(197, 14%, 10%);
  --main-text: hsl(58, 40%, 88%);
  --secondary-text: hsl(60, 2%, 74%);
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--bg-color);
  color: var(--main-text);
  padding: 0;
  margin: 0;
}

/* Hero */
.hero {
  background-image: url("../assets/images/black.jpg");
  font-family: "Lobster Two", sans-serif;
  padding: 5rem 0;
}

.slogan {
  font-size: 5rem;
  margin-bottom: 1.7rem;
  color: var(--main-text);
  text-align: center;
}

.description {
  padding: 0 5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
  color: var(--secondary-text);
}

/* Story  */

.title {
  text-align: center;
  font-family: "Lobster Two", sans-serif;
  font-size: 3rem;
  padding: 1.5rem 0;
}

.story {
  font-size: 1.2rem;
  text-align: center;
  padding: 0 2rem;
  display: flex;
}

.title {
  text-align: center;
  font-family: "Lobster Two", sans-serif;
  font-size: 3rem;
  padding: 1.5rem 0;
}

.story {
  font-size: 1.2rem;
  text-align: center;
  margin: 2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.story-video {
  height: 70vh;
  width: auto;
  border-radius: 10px;
}

.story-text {
  max-width: 45vw;
  line-height: 1.5;
}

@media (min-width: 1024px) {
  .story {
    padding: 0 10rem;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 4.5rem;
  }
}

@media (max-width: 768px) {
  .story {
    flex-direction: column;
  }

  .story-text {
    max-width: none;
  }

  .story-1 {
    flex-direction: column-reverse;
  }
}

/* Mission */

.mission {
  font-size: 1.2rem;
  text-align: center;
  padding: 0 2rem;
}

@media (min-width: 1024px) {
  .mission {
    padding: 0 10rem;
  }
}

/* Why choose us  */

.why-choose-us {
  font-size: 1.2rem;
  text-align: center;
  padding: 0 2rem;
  margin-bottom: 5rem;
}

@media (min-width: 1024px) {
  .why-choose-us {
    padding: 0 10rem;
  }
}

@media (min-width: 768px) {
  .slogan {
    font-size: 5.5rem;
  }

  .description {
    font-size: 2.5rem;
  }

  .story,
  .mission,
  .why-choose-us {
    font-size: 1.5rem;
  }
}

/* Stat Box */

.stats-section {
  position: relative;
  width: 100%;
  height: 480px;
  overflow: hidden;
}

.stats-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
}

.stats-container {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  padding: 20px;
  text-align: center;
}

.stat h2 {
  font-size: 2.5rem;
  margin: 0;
}

.stat p {
  margin: 5px 0 0;
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  .stats-section {
    height: 320px;
  }

  .stats-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .stat h2 {
    font-size: 3rem;
  }
}

@media (min-width: 1000px) {
  .stats-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .stats-section {
    height: 300px;
  }

  .stat h2 {
    font-size: 3.2rem;
  }
}