:root {
  --bg-color: hsl(198, 16%, 15%);
  --main-text: hsl(58, 40%, 88%);
  --secondary-text: hsl(60, 2%, 74%);
}
body::-webkit-scrollbar {
  display: none;
}
body {
  background-color: var(--bg-color);
  color: var(--main-text);
  padding: 0;
  margin: 0;
}

/* Navbar */

.navbar-container {
  /* border: solid 1px white; */
  display: flex;
  justify-content: space-between;
  background-color: hsl(197, 15%, 9%);
  padding: 0 20px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 13vh;
  z-index: 100;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}
.navbar-container.scrolled {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.logo {
  /* border: white 1px solid; */
  font-size: 1.4rem;
  font-family: "Playwrite US Trad Guides", cursive;
}
.hamburger-icon-container {
  /* border: red 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hamburger-icon {
  /* border: white 1px solid; */
  height: 4rem;
  border-radius: 1rem;
}

.hamburger-icon:hover {
  background-color: hsl(196, 16%, 18%);
}

.nav-links {
  position: fixed;
  display: flex;
  right: -100%;
  top: 0;
  height: 100vh;
  width: 40vw;
  background-color: hsl(197, 15%, 9%);
  flex-direction: column;
  z-index: 2;
  transition: right ease-in 0.5s;
  /* transition: background-color 0.3s ease, backdrop-filter 0.3s ease; */
}
.nav-links a {
  /* border: solid 1px white; */
  color: var(--main-text);
  text-decoration: none;
  padding: 2rem 1rem;
  font-size: 1.2rem;
}
.nav-links a:hover {
  background-color: var(--bg-color);
}
.nav-links.active {
  right: 0;
}
@media (min-width: 768px) {
  .hamburger-icon {
    display: none;
  }
  .nav-links {
    position: static;
    flex-direction: row;
    height: auto;
    width: 55vw;
    background: transparent;
    /* border: 1px solid white; */
  }

  .nav-links a {
    padding: 0;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
/* Hero */
.hero {
  background-image: url("./images/black.jpg");
  font-family: "Lobster Two", sans-serif;
  padding: 5rem 0;
}

.slogan {
  font-size: 5rem;
  /* border: solid 1px white; */
  margin-bottom: 1.7rem;
  color: var(--main-text);
  text-align: center;
}
.description {
  padding: 0 5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
  color: var(--secondary-text);
}

/* Story  */

.story-container {
  /* border: solid 1px white; */
  display: flex;
  flex-direction: column;
}

.title {
  /* border: solid 1px white; */
  text-align: center;
  font-family: "Lobster Two", sans-serif;
  font-size: 3rem;
  padding: 1.5rem 0;
}
.story {
  font-size: 1.2rem;
  text-align: center;
  padding: 0 2rem;
  /* border: 1px solid white; */
}
.story > p {
  margin: 3rem 0;
  /* border: 1px solid white; */
}
.story :first-child {
  margin-top: 0;
}
.story-image-container {
  /* border: white solid 1px; */
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}
.story-image {
  width: 40vw;
  max-width: 400px;
  /* border-radius: 1rem; */
}
@media (min-width: 1024px) {
  .story {
    padding: 0 10rem;
  }
}
@media (min-width: 768px) {
  .title {
    font-size: 4.5rem;
  }
}

/* Mission */

.mission {
  font-size: 1.2rem;
  text-align: center;
  padding: 0 2rem;
}
@media (min-width: 1024px) {
  .mission {
    padding: 0 10rem;
  }
}

/* Value */
.value-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.value {
  font-size: 1.2rem;
  /* text-align: center; */
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Why choose us  */

.why-choose-us {
  font-size: 1.2rem;
  text-align: center;
  padding: 0 2rem;
  margin-bottom: 5rem;
}
@media (min-width: 1024px) {
  .why-choose-us {
    padding: 0 10rem;
  }
}

@media (min-width: 768px) {
  .slogan {
    font-size: 5.5rem;
  }
  .description {
    font-size: 2.5rem;
  }
  .story,
  .mission,
  .value,
  .why-choose-us {
    font-size: 1.5rem;
  }
}

/* Stat Box */

.stats-section {
  position: relative;
  width: 100%;
  height: 480px;
  overflow: hidden;
}

.stats-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
}

.stats-container {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  padding: 20px;
  text-align: center;
}

.stat h2 {
  font-size: 2.5rem;
  margin: 0;
}

.stat p {
  margin: 5px 0 0;
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  .stats-section {
    height: 320px;
  }
  .stats-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .stat h2 {
    font-size: 3rem;
  }
}

@media (min-width: 900px) {
  .stats-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .stats-section {
    height: 300px;
  }

  .stat h2 {
    font-size: 3.2rem;
  }
}

/* footer  */

footer {
  background-color: hsl(197, 15%, 9%);
}

.footer-container {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 2.5rem;
}
footer .nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

footer .socials {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* border: 1px white solid; */
}
.socials .icons {
  display: flex;
  gap: 1.5rem;
}

footer .socials a:nth-child(1):hover {
  color: plum;
}

footer .socials a:nth-child(2):hover {
  color: rgb(31, 164, 216);
}

footer .socials a:nth-child(3):hover {
  color: black;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer div div div:nth-child(1) {
  font-size: 1.3rem;
}
footer a {
  color: white;
}
footer {
  color: var(--main-text);
}
.copyright {
  color: var(--secondary-text);
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  text-align: center;
  margin: 0 3rem;
  border-top: 1px solid var(--secondary-text);
}
@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
