:root {
  --bg-color: hsl(197, 14%, 10%);
  --main-text: hsl(58, 40%, 88%);
  --secondary-text: hsl(60, 2%, 74%);
  --secondary-color: rgb(213, 154, 15);
}

body{
    padding: 0;
    margin: 0;
    color: var(--main-text);
    background-color: hsl(197, 14%, 10%);
}

.container {
    position: relative;
    min-height: auto;
    overflow: hidden;
    padding-top: 18vh;
    padding-left: 15vw;
    margin-bottom: 10vh;
 
    display: flex;  
    justify-content: center;  
    align-items: flex-start;
    gap: 2rem;
}

.contact-text{
  width: 50%;
  padding-top: 40px;
  font-size: larger;
}
.form-box h1, .form-box p{
  font-family: "Lobster Two", sans-serif;
}

.contact-text img{
  height: 65vh;
  width: auto;
}

.contact-text p{
  padding: 5px 2px;
}

.done-oneline{
  color: var(--secondary-color);

}

.form-box {
    padding: 10vh 10vw;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    padding: 30px 50px;
    color: var(--main-text);
    background-color: var(--bg-color);
    /* border: hsl(200, 16%, 15%) solid 3px; */
    border: 3px solid hsl(200, 16%, 15%);
    box-shadow: 0 0 5px hsl(200, 16%, 40%);
}

.form-box input,
.form-box textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
}

.form-box p{
    font-weight: 700;
    font-size: larger;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    background: var(--secondary-color);
    color: var(--main-text);
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

/* responsivenes */
@media (max-width: 1000px) {
  .contact-text {
    display: none;
  }

  .container {
    padding: 0;
    display: block;
  }

  .form-box {
    max-width: 80%;
    padding: 20px;
    box-sizing: border-box;
    margin: 20vh 9vw 5vh 9vw;

  }
}
