body{
    padding: 0;
    margin: 0;
    color: white;
    background-color:hsl(197, 14%, 10%);
}

.container {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    padding-top: 20vh;
    padding-left: 15vw;
 

    display: flex;  
    justify-content: center;  
    align-items: flex-start;
    gap: 2rem;
}

.contact-text{
  width: 50%;
  padding-top: 40px;
  font-size: larger;
}

.contact-text img{
  height: 65vh;
  width: auto;
}

.contact-text p{
  padding: 5px 2px;
}

.done-oneline{
  color: rgb(213, 154, 15);

}


.form-box {
    padding: 30px 40px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    padding: 30px 50px;
    color: white;
    background-color: hsl(204, 8%, 12%);
    border: hsl(200, 16%, 15%) solid 1px;
}


.form-box input,
.form-box textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
}

.form-box p{
    font-weight: 700;
    font-size: larger;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    background: rgb(213, 154, 15);
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}
