footer {
    background-color: hsl(197, 15%, 9%);
}

.footer-container {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 2.5rem;
}

footer .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

footer .socials {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.socials .icons {
    display: flex;
    gap: 1.5rem;
}

footer .socials a:nth-child(1):hover {
    color: plum;
}

footer .socials a:nth-child(2):hover {
    color: rgb(31, 164, 216);
}

footer .socials a:nth-child(3):hover {
    color: black;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer div div div:nth-child(1) {
    font-size: 1.3rem;
}

footer a {
    color: white;
}

footer {
    color: var(--main-text);
}

.copyright {
    color: var(--secondary-text);
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    text-align: center;
    margin: 0 3rem;
    border-top: 1px solid var(--secondary-text);
}

@media (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}