:root {
  --bg-color: hsl(197, 14%, 10%);
  --main-text: hsl(58, 40%, 88%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  color: var(--main-text);
  background-color: var(--bg-color);
}

.gallery-image {
  width: 100%;
  display: block;
  transition: all 1s;
  border-radius: 10px;
  border: 3px solid transparent;
}

main {
  padding: 2rem;
  padding-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  gap: 1rem;
  max-width: 1200px;
}

.main-container>* {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

img:hover {
  transform: scale(1.05);
  opacity: 0.9;
  border-color: white;
}

@media (max-width: 500px) {
  .main-container {
    flex-direction: column;
  }
}