:root {
  --bg-color: hsl(198, 16%, 15%);
  --main-text: hsl(58, 40%, 88%);
  --secondary-text: hsl(60, 2%, 74%);
}
body::-webkit-scrollbar {
  display: none;
}
body {
  background-color: var(--bg-color);
  color: var(--main-text);
  padding: 0;
  margin: 0;
  margin-top: 20vh;
}
@media (min-width: 1024px) {
  body {
    margin-top: 10vh;
  }
}

/* Navbar */

.navbar-container {
  /* border: solid 1px white; */
  display: flex;
  justify-content: space-between;
  background-color: hsl(197, 15%, 9%);
  padding: 0 20px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 13vh;
  z-index: 100;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}
.navbar-container.scrolled {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.logo {
  /* border: white 1px solid; */
  font-size: 1.4rem;
  font-family: "Playwrite US Trad Guides", cursive;
}
.hamburger-icon-container {
  /* border: red 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hamburger-icon {
  /* border: white 1px solid; */
  height: 4rem;
  border-radius: 1rem;
}

.hamburger-icon:hover {
  background-color: hsl(196, 16%, 18%);
}

.nav-links {
  position: fixed;
  display: flex;
  right: -100%;
  top: 0;
  height: 100vh;
  width: 40vw;
  background-color: hsl(197, 15%, 9%);
  flex-direction: column;
  z-index: 2;
  transition: right ease-in 0.5s;
  /* transition: background-color 0.3s ease, backdrop-filter 0.3s ease; */
}
.nav-links a {
  /* border: solid 1px white; */
  color: var(--main-text);
  text-decoration: none;
  padding: 2rem 1rem;
  font-size: 1.2rem;
}
.nav-links a:hover {
  background-color: var(--bg-color);
}
.nav-links.active {
  right: 0;
}
@media (min-width: 768px) {
  .hamburger-icon {
    display: none;
  }
  .nav-links {
    position: static;
    flex-direction: row;
    height: auto;
    width: 55vw;
    background: transparent;
    /* border: 1px solid white; */
  }

  .nav-links a {
    padding: 0;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

/* Hero */

.hero-container {
}
.hero-text {
  font-family: "Lobster Two", sans-serif;
  /* border: solid 1px white; */
  text-align: center;
  font-style: italic;
}
.slogan {
  font-size: 5rem;
  /* border: solid 1px white; */
  margin-bottom: 1.7rem;
  color: var(--main-text);
}
.description {
  /* border: solid 1px white; */
  font-size: 2rem;
  padding: 0 5rem;
  font-weight: 100;
  color: hsl(60, 2%, 84%);
}
.hero-image-container {
  /* border: solid 1px white; */
  display: flex;
  justify-content: center;
}
.hero-image {
  /* border: solid 1px white; */
  width: 95vw;
}
.book-table {
  background-color: var(--bg-color);
  color: var(--main-text);
  border: solid 1px var(--main-text);
  padding: 0.6rem;
  border-radius: 10px;
  font-size: 1.5rem;
  margin-top: 2rem;
  font-family: "Lobster Two", sans-serif;
  transition: all 0.4s;
}
.book-table:hover {
  background-color: var(--main-text);
  color: var(--bg-color);
}

@media (min-width: 1024px) {
  .hero-container {
    display: flex;
    flex-direction: row;
  }
  .hero-image-container {
    display: flex;
    flex-direction: column;
    flex: 5;
  }
  .hero-text {
    flex: 4;
  }
  .hero-image-container {
    /* border: solid 1px white; */
  }
  .hero-image {
    /* border: solid 1px white; */
    width: auto;
    height: 90vh;
    object-fit: cover;
    /* padding: 3rem; */
  }
}
/* Story */

.story-container {
  /* border: 1px white solid; */
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  text-align: center;
}
.welcome {
  font-family: "Lobster Two", sans-serif;
  color: var(--secondary-text);
  font-size: 4rem;
  margin-top: 5rem;
  font-style: italic;
}
.discover-text {
  color: var(--main-text);
  font-family: "Lobster Two", sans-serif;
  font-size: 2.5rem;
  padding: 0;
}
.discover-text {
  position: relative;
  display: inline-block;
}

.discover-text::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background: var(--secondary-text);
  transition: width 0.5s ease-in-out;
}

.discover-text:hover::after {
  width: 100%;
}
.story-text {
  padding: 0 5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--secondary-text);
  font-size: 1.4rem;
  line-height: 1.3;
}
.story-image-container {
  /* border: white solid 1px; */
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}
.story-image {
  width: 40vw;
  max-width: 400px;
  border-radius: 1rem;
}
@media (min-width: 1024px) {
  .story-text {
    padding: 0 10rem;
  }
}
/* Special Dishes */

.special-dishes-container {
  /* border: 1px solid white; */
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.special-dishes-title {
  font-family: "Lobster Two", sans-serif;
  font-style: italic;
  font-size: 4rem;
  color: var(--main-text);
}
.special-dishes-subtitle {
  font-family: "Lobster Two", sans-serif;
  font-size: 2.5rem;
  color: var(--secondary-text);
  margin-bottom: 2rem;
}
.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.special-dishes-card {
  border: rgb(99, 98, 98) 1px solid;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem;
  transition: box-shadow 0.3s;
  border-radius: 5%;
  max-width: 400px;
}
.special-dishes-card-text {
  /* border: white 1px solid; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.special-dishes-card-title {
  /* border: white 1px solid; */
  font-family: "Lobster Two", sans-serif;
  font-size: 2rem;
  text-align: left;
}
.special-dishes-card-description {
  font-size: 1.2rem;
  text-align: left;
}
.dish {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.special-dishes-card-image > img {
  width: 100%;
  transition: transform 0.3s ease-in;
}
.special-dishes-card-image {
  overflow: hidden;
  border-radius: 5%;
}
.special-dishes-card:hover {
  box-shadow: 0 0 10px rgb(75, 74, 74);
}
.special-dishes-card:hover img {
  transform: scale(1.1);
}
.discover-menu {
  text-decoration: none;
  color: var(--main-text);
  font-size: 1.2rem;
}
.discover-menu:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .grid-container {
    align-items: center;
    justify-content: center;
  }
  .special-dishes-card {
    flex-direction: row;
    max-width: 900px;
  }
  .special-dishes-card-text {
    /* border: 1px solid white; */
    justify-content: space-between;
  }
  .special-dishes-card-text > :nth-child(2) {
    font-size: 2rem;
  }
  .special-dishes-card-description {
    /* border: 1px solid white; */
  }
}

@media (min-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
  }
  .special-dishes-card-image {
  }

  .special-dishes-card-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in;
  }
}

/* Testimonals */

.testimonal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonal-title {
  /* border: white 1px solid; */
  text-align: center;
  color: var(--main-text);
  font-family: "Lobster Two", sans-serif;
  font-size: 4rem;
}
.testimonal-card-container {
  /* border: white 1px solid; */
  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  padding-bottom: 3rem;
}
.testimonal-card {
  /* border: white 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 10%;
  width: 50vw;
  max-width: 450px;
  background-color: hsl(195, 42%, 9%);
  border: hsl(197, 43%, 21%) solid 1px;
  transition: box-shadow 0.5s, transform 0.5s;
}
.testimonal-card:hover {
  box-shadow: 0px 0px 20px hsl(199, 41%, 21%);
  transform: rotate(5deg);
}
.testimonal-image-container {
  /* border: white 1px solid; */
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.testimonal-image-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.testimonal-text {
  font-size: 1.2rem;
  text-align: justify;
}
.testimonal-name {
  color: var(--secondary-text);
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  .slogan {
    font-size: 6rem;
  }
  .welcome,
  .testimonal-title {
    font-size: 4.5rem;
  }
}
@media (min-width: 1024px) {
  .testimonal-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5rem;
    /* border: white 1px solid; */
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: max-content;
  }
  .testimonal-card {
    width: auto;
    max-width: 450px;
    height: 280px;
    /* border: white 1px solid; */
  }
}

/* footer  */

footer {
  background-color: hsl(197, 15%, 9%);
}

.footer-container {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 2.5rem;
}
footer .nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

footer .socials {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* border: 1px white solid; */
}
.socials .icons {
  display: flex;
  gap: 1.5rem;
}

footer .socials a:nth-child(1):hover {
  color: plum;
}

footer .socials a:nth-child(2):hover {
  color: rgb(31, 164, 216);
}

footer .socials a:nth-child(3):hover {
  color: black;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer div div div:nth-child(1) {
  font-size: 1.3rem;
}
footer a {
  color: white;
}
footer {
  color: var(--main-text);
}
.copyright {
  color: var(--secondary-text);
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  text-align: center;
  margin: 0 3rem;
  border-top: 1px solid var(--secondary-text);
}
@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
