:root {
  --bg-color: hsl(197, 14%, 10%);
  --main-text: hsl(58, 40%, 88%);
  --secondary-text: hsl(60, 2%, 74%);
}
body::-webkit-scrollbar {
  display: none;

}
body {
  background-color: var(--bg-color);
  color: var(--main-text);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* Navbar */

.navbar-container {
  /* border: solid 1px white; */
  display: flex;
  justify-content: space-between;
  background-color: hsl(197, 15%, 9%);
  padding: 0 20px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 13vh;
  z-index: 100;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}
.navbar-container.scrolled {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.logo {
  /* border: white 1px solid; */
  font-size: 1.4rem;
  font-family: "Playwrite US Trad Guides", cursive;
}

.logo img {
  height: 70px;
  width: auto;
  border-radius: 20px;
}


.hamburger-icon-container {
  /* border: red 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hamburger-icon {
  /* border: white 1px solid; */
  height: 4rem;
  border-radius: 1rem;
}

.hamburger-icon:hover {
  background-color: hsl(196, 16%, 18%);
}

.nav-links {
  position: fixed;
  display: flex;
  right: -100%;
  top: 0;
  height: 100vh;
  width: 40vw;
  background-color: hsl(197, 15%, 9%);
 
  flex-direction: column;
  z-index: 2;
  transition: right ease-in 0.5s;

}
.nav-links a {
  /* border: solid 1px white; */
  color: white;
  text-decoration: none;
  padding: 2rem 1rem;
  font-size: 1.2rem;
}
.nav-links a:hover {
  background-color: var(--bg-color);
}
.nav-links.active {
  right: 0;
}
@media (min-width: 768px) {
  .hamburger-icon {
    display: none;
  }
  .nav-links {
    position: static;
    flex-direction: row;
    height: auto;
    width: 55vw;
    background: transparent;
    /* border: 1px solid white; */
  }

  .nav-links a {
    padding: 0;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}




/* Hero */

.hero-container {
  min-height: 100vh;
}


.hero-text {
  font-family: Inter,  sans-serif;
}


.slogan {
  margin-bottom: 1.5rem;
  color: white;
  font-size: 3.5rem;
  padding-top: 15vh;
  max-width: 30vw;
  font-weight: 500;
  font-family: "Lobster Two", sans-serif;
}

.yello-text{
  color: #ebc634;
}

.description {
  font-size: 1rem;
  font-weight: 300;
  color: white;
}

.hero-text{
  padding-left: 18vw;
  padding-top: 3rem;
}

.hero-image-container {
  /* border: solid 1px white; */
  display: flex;
  justify-content: center;
}


.hero-image-container {
  padding-top: 23vh;
  width: 32vw ;
  height: 32vw;
  clip-path: circle(50%);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  width: 100%;
  height: 100%;
}


.hero-image {
    animation: spin 20s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.hero-buttons{
  margin-top: 3rem;
}
.book-table {
  text-decoration: none;
  background-color: #987f1a ;
  color: white;
  border: solid 0.2px var(--main-text);
  padding: 0.5rem 0.7rem;
  border-radius: 10px;
  font-size: 1rem;
  font-family: "Lobster Two", sans-serif;
  transition: all 0.4s;
}
.book-table:hover {
  background-color: white;
  color: black;
}



.explore-table {
  text-decoration: none;
  margin-left: 5px;
  background-color: hsl(197, 14%, 10%);
  color: white;
  border: solid 0.2px var(--main-text);
  padding: 0.5rem 0.7rem;
  border-radius: 10px;
  font-size: 1rem;
}

.explore-table:hover {
  background-color: var(--main-text);
  color: var(--bg-color);
}

@media (min-width: 1024px) {
  .hero-container {
    display: flex;
    flex-direction: row;
  }
  .hero-image-container {
    display: flex;
    flex-direction: column;
    flex: 5;
  }
  .hero-text {
    flex: 4;
  }
  .hero-image-container {
    /* border: solid 1px white; */
  }
  .hero-image {
    /* border: solid 1px white; */
    width: auto;
 
    /* padding: 3rem; */
  }
}




/* Story */

.story-container {
  /* border: 1px white solid; */
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  text-align: center;
}
.welcome {
  font-family: "Lobster Two", sans-serif;
  color: var(--secondary-text);
  font-size: 4rem;
  margin-top: 5rem;
  font-style: italic;
}
.discover-text {
  color: var(--main-text);
  font-family: "Lobster Two", sans-serif;
  font-size: 2.5rem;
  padding: 0;
}
.discover-text {
  position: relative;
  display: inline-block;
}

.discover-text::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background: var(--secondary-text);
  transition: width 0.5s ease-in-out;
}

.discover-text:hover::after {
  width: 100%;
}
.story-text {
  padding: 0 5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--secondary-text);
  font-size: 1.4rem;
  line-height: 1.3;
}
.story-image-container {
  /* border: white solid 1px; */
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}
.story-image {
  width: 40vw;
  max-width: 400px;
  border-radius: 1rem;
}
@media (min-width: 1024px) {
  .story-text {
    padding: 0 10rem;
  }
}




/* Special Dishes */

.special-dishes-container {
  /* border: 1px solid white; */
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.special-dishes-title {
  font-family: "Lobster Two", sans-serif;
  font-style: italic;
  font-size: 4rem;
  color: var(--main-text);
}
.special-dishes-subtitle {
  font-family: "Lobster Two", sans-serif;
  font-size: 2.5rem;
  color: var(--secondary-text);
  margin-bottom: 2rem;
}
.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.special-dishes-card {
  border: rgb(99, 98, 98) 1px solid;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem;
  transition: box-shadow 0.3s;
  border-radius: 5%;
  max-width: 400px;
}
.special-dishes-card-text {
  /* border: white 1px solid; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.special-dishes-card-title {
  /* border: white 1px solid; */
  font-family: "Lobster Two", sans-serif;
  font-size: 2rem;
  text-align: left;
}
.special-dishes-card-description {
  font-size: 1.2rem;
  text-align: left;
}
.dish {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.special-dishes-card-image > img {
  width: 100%;
  transition: transform 0.3s ease-in;
}
.special-dishes-card-image {
  overflow: hidden;
  border-radius: 5%;
}
.special-dishes-card:hover {
  box-shadow: 0 0 10px rgb(75, 74, 74);
}
.special-dishes-card:hover img {
  transform: scale(1.1);
}
.discover-menu {
  text-decoration: none;
  color: var(--main-text);
  font-size: 1.2rem;
}
.discover-menu:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .grid-container {
    align-items: center;
    justify-content: center;
  }
  .special-dishes-card {
    flex-direction: row;
    max-width: 900px;
  }
  .special-dishes-card-text {
    /* border: 1px solid white; */
    justify-content: space-between;
  }
  .special-dishes-card-text > :nth-child(2) {
    font-size: 2rem;
  }
  .special-dishes-card-description {
    /* border: 1px solid white; */
  }
}

@media (min-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
  }
  .special-dishes-card-image {
  }

  .special-dishes-card-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in;
  }
}

/* ANIMATION ON HOVER FOR TEXT */

.special-dishes-card-text {
  transition: transform 0.3s ease;
}
.special-dishes-card:hover .special-dishes-card-text {
  transform: translateY(-5px);
}






/* TESTIMONIAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #987f1a ;
  --secondary-color: #e8e8e8;
  --text-dark: #0f172a;
  --text-light: #94a3b8;
  --white: #ffffff;
}



body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.testimonial__container {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 3rem;
  padding: 1rem 0.5rem;
  text-align: center;
}

.testimonal-title {
  /* border: white 1px solid; */
  text-align: center;
  color: var(--main-text);
  font-family: "Lobster Two", sans-serif;
  font-size: 4rem;
}

.section__container h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.section__container h1 {
  position: relative;
  margin-bottom: 3rem;
  font-weight: 600;
  text-align: center;
  color: var(--main-text);
  font-family: "Lobster Two", sans-serif;
  font-size: 4rem;
  
}

.section__container h1::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 2px;
  width: 5rem;
  background-color: var(--primary-color);
}

.section__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.section__card {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  padding: 2rem 2rem 1rem;
  background-color: hsl(200, 16%, 15%) ;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.section__card::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 40%;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: var(--primary-color);
  z-index: -1;
  transition: 0.5s;
}

.section__card span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  font-size: 3rem;
  color: var(--white);
}

.section__card h4 {
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}

.section__card p {
  margin-bottom: 1rem;
  color: var(--text-light);
  transition: 0.3s;
}

.section__card img {
  max-width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 100%;
  border: 2px solid var(--primary-color);
  transition: 0.3s;
}

.section__card h5 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
  margin: 1rem;
}

.section__card h6 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-light);
  transition: 0.3s;
  margin: 1rem;
}

.section__card:hover::before {
  width: 400%;
}

.section__card:hover :is(h4, h5) {
  color: var(--white);
}

.section__card:hover :is(p, h6) {
  color: var(--secondary-color);
}

.section__card:hover img {
  border-color: var(--white);
}







/* footer  */

footer {
  background-color: hsl(197, 15%, 9%);
}

.footer-container {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 2.5rem;
}
footer .nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}



footer .socials {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.socials .icons {
  display: flex;
  gap: 1.5rem;
}



footer .socials a:nth-child(1):hover {
  color: plum;
}

footer .socials a:nth-child(2):hover {
  color: rgb(31, 164, 216);
}

footer .socials a:nth-child(3):hover {
  color: black;
}




.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer div div div:nth-child(1) {
  font-size: 1.3rem;
}
footer a {
  color: white;
}
footer {
  color: var(--main-text);
}
.copyright {
  color: var(--secondary-text);
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  text-align: center;
  margin: 0 3rem;
  border-top: 1px solid var(--secondary-text);
}
@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
