:root {
  --bg-color: hsl(197, 14%, 10%);
  --main-text: hsl(58, 40%, 88%);
}
body::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--main-text);
}

header {
  width: 100%;
}

.hero {
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/images/hero_image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Lobster Two", sans-serif;
}

.hero p {
  color: rgb(227, 189, 189);
  font-size: 2rem;
  text-shadow: 5px 5px 5px var(--bg-color);
}

h1 {
  font-size: 5rem;
}

main {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
}

main > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menu-type {
  font-size: 2rem;
  width: 100%;
  border-bottom: 1px solid rgb(127, 127, 134);
  padding: 5vh 0 3vh 2vw;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.food-container {
  max-width: 500px;
  display: flex;
  gap: 1rem;
  align-items: center;
  animation-name: smooth-view;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.2, 0.7, 0.3, 1.4);
  animation-fill-mode: both;
  animation-timeline: view();
}

.pic-container {
  width: 160%;
}

.pic-container img {
  border-radius: 20px;
  transition: all 1s;
}

.pic-container img:hover {
  transform: scale(1.07);
}

.food-text {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem;
}

.food-description {
  color: rgb(117, 127, 123);
}

@keyframes smooth-view {
  from {
    opacity: 0;
    transform: translateY(180px) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@media (min-width: 1000px) {
  .menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}
