/* Navbar */

.navbar-container {
  display: flex;
  justify-content: space-between;
  background-color: hsl(197, 15%, 9%);
  padding: 0 20px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 13vh;
  z-index: 100;
  font-family: "Times New Roman", Times, serif;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.navbar-container.scrolled {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.logo {
  font-size: 1.4rem;
  font-family: "Playwrite US Trad Guides", cursive;
}

.logo img {
  height: 60px;
  width: auto;
  border-radius: 20px;
  padding: 7px 5px;
}

.hamburger-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hamburger-icon {
  height: 4rem;
  border-radius: 1rem;
}

.hamburger-icon:hover {
  background-color: hsl(196, 16%, 18%);
}

.nav-links {
  position: fixed;
  display: flex;
  right: -100%;
  top: 0;
  height: 100vh;
  width: 40vw;
  background-color: hsl(197, 15%, 9%);

  flex-direction: column;
  z-index: 2;
  transition: right ease-in 0.5s;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 2rem 1rem;
  font-size: 1.2rem;
}

.nav-links a:hover {
  background-color: var(--bg-color);
}

.nav-links.active {
  right: 0;
}

@media (min-width: 768px) {
  .hamburger-icon {
    display: none;
  }

  .nav-links {
    position: static;
    flex-direction: row;
    height: auto;
    width: 55vw;
    background: transparent;
  }

  .nav-links a {
    padding: 0;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.nav-links a.active {
  color: rgb(213, 154, 15);
}
